BACKEND_URL=http://localhost:8000
PARKING_PMS_URL=http://localhost:8001
GPS_PROXY_URL=
ADB_HOST=
ADB_PORT=5037
ADB_TARGET=emulator-5554
WEBOTS_VIN=TESTVIN001
WEBOTS_PLATE=12가3456
WEBOTS_LOT_ID=LOT_TEST_01
WEBOTS_DRIVE_MODE=auto
